<% title = 'Login' %>
<%- include('layout', { title: title }) -%>
<!-- rest of your login.ejs code -->

<div class="login-container">
    <h1>Login</h1>
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>
</div>
